@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url(https://fonts.googleapis.com/css?family=Poppins+Condensed);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);


body {
  font-family: 'Poppins', Arial, sans-serif;
}
h1, h2, h3 {
  font-family: 'Poppins Condensed';
  font-weight: normal;
}

.remark-code, .remark-inline-code {
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  /* font-size: 90%; */
  font-size:20px;
}

 /* inline code background */
 .remark-inline-code {
  /* background: #F5F5F5; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 2px;
}

.hljs-github .hljs {
  overflow-y: auto;
}

/* don't like doing this but appears necessary as I see
   an element.style insertion to my mathjax that renders
   it at 119% done as the last css feature added... this
   appears to be by design in mathjax, but it makes the
   math font a bit too large for my liking */
.mjx-chtml {
  font-size: 110%!important;
}

/* change the line spread for readability
   and so that inline code highlighting
   doesn't cover text on the line above */
.remark-slide-content { font-size:24px; }
.remark-slide-content p,
.remark-slide-content li {
  line-height: 1.4;
  /*font-size: 1.1em;*/
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.footnote {
  position: absolute;
  bottom: 0;
  padding-right: 8em; /* to avoid the page numbering */
}
/* footnote identifier use: .fn[1] */
.fn {
  vertical-align: super;
  font-size: 60%;
}
.footnote {
  font-size: 0.7em;
}
.remark-slide-content .footnote  p,
.remark-slide-content .footnote li {
  font-size: 0.7em!important;
}
.footnote .remark-code,
.footnote .remark-inline-code{ font-size: 0.8em!important; }

/* code higlighting */
.remark-code-string-highlighted,
.remark-code-line-highlighted {
    background-color: yellow;
}

.remark-slide-number{
  font-size: 16px!important;
  bottom: 8px;
  right: 16px;
}

/************************
 * Font size and colours
 ************************/

/*      LaTeX style       */
.Large       { font-size: 144%; }
.large       { font-size: 120%; }
.small       { font-size: 90%; }
.footnotesize{ font-size: 80%; }
.scriptsize  { font-size: 70%; }
.tiny        { font-size: 60%; }
.Large .remark-code, .Large .remark-inline-code { font-size: 110%; }
.large .remark-code, .large .remark-inline-code { font-size: 108%; }
.small .remark-code, .small .remark-inline-code { font-size: 99%; }
.footnotesize .remark-code, .footnotesize .remark-inline-code { font-size: 96%; }
.scriptsize .remark-code, .scriptsize .remark-inline-code { font-size: 92%; }
.tiny .remark-code, .tiny .remark-inline-code { font-size: 90%; }

/* or you can be more specific */
.font10 , .code10 .remark-code, .code10 .remark-inline-code{ font-size: 10%; }
.font20 , .code20 .remark-code, .code20 .remark-inline-code{ font-size: 20%; }
.font30 , .code30 .remark-code, .code30 .remark-inline-code{ font-size: 30%; }
.font40 , .code40 .remark-code, .code40 .remark-inline-code{ font-size: 40%; }
.font50 , .code50 .remark-code, .code50 .remark-inline-code{ font-size: 50%; }
.font60 , .code60 .remark-code, .code60 .remark-inline-code{ font-size: 60%; }
.font70 , .code70 .remark-code, .code70 .remark-inline-code{ font-size: 70%; }
.font75 , .code75 .remark-code, .code75 .remark-inline-code{ font-size: 75%; }
.font80 , .code80 .remark-code, .code80 .remark-inline-code{ font-size: 80%; }
.font90 , .code90 .remark-code, .code90 .remark-inline-code{ font-size: 90%; }
.font100, .code100 .remark-code, .code100 .remark-inline-code{ font-size: 100%; }
.font110, .code110 .remark-code, .code110 .remark-inline-code{ font-size: 110%; }
.font120, .code120 .remark-code, .code120 .remark-inline-code{ font-size: 120%; }
.font130, .code130 .remark-code, .code130 .remark-inline-code{ font-size: 130%; }
.font140, .code140 .remark-code, .code140 .remark-inline-code{ font-size: 140%; }
.font150, .code150 .remark-code, .code150 .remark-inline-code{ font-size: 150%; }
.font160, .code160 .remark-code, .code160 .remark-inline-code{ font-size: 160%; }
.font170, .code170 .remark-code, .code170 .remark-inline-code{ font-size: 170%; }
.font175, .code175 .remark-code, .code175 .remark-inline-code{ font-size: 175%; }
.font180, .code180 .remark-code, .code180 .remark-inline-code{ font-size: 180%; }
.font190, .code190 .remark-code, .code190 .remark-inline-code{ font-size: 190%; }
.font200, .code200 .remark-code, .code200 .remark-inline-code{ font-size: 200%; }

.mu-red { color: #E12744; }
.mu-black { color: #0B1213; }
.mu-warmgrey { color: #F8F6F4; }
.mu-midgrey {color: #574F46; }
.mu-footer {color: #4F5556; }
.muanpc-green { color: #133D4C; }

/* Murdoch alert colour */

.success { color: #639234; }
.warning { color: #AE1E26; }
.danger {	color: #BD770E; }
.info { color: #2372A7; }


/* Murdoch alert colour light */

.success-lg { color: #E2E8E2; }
.warning-lg { color: #EADFD8; }
.danger-lg {	color: #EDE3DD; }
.info-lg { color: #DCE5ED; }

/* Additional Murdoch colour boxes */

.black { color: black; }
.white { color: white; }
.pink { color: #f7a8ae; }
.maroon { color: #ac1d43; }
.orange { color: #f3744a; }
.magenta { color: #ec008b; }
.seafoam { color: #4abd98; }
.teal { color: #006472; }
.purple { color: #522f90; }
.lime { color: #75bb21; }
.gold { color: #ffb71b; }
.grey { color: #d0d1d3; }
.bold { font-weight: bold; }
.bolder { font-weight: bolder; }

/* Murdoch secondary colours */
.teal2 { color: #00737A; }
.teal3 { color: #16E9C6; }
.pink2 {	color: #D71D96; }
.orange2 {	color: #C8451E; }
.red2tint { color: #EFE6EA; }
.teal2tint { color: #D9E6EB; }
.pink2tint { color: #EDDDEB; }
.orange2tint { color: #ECE1DF; }

